@use "../../styles/abstracts/colors" as *;
@use "../../styles/abstracts/fonts" as *;
@use "../../styles/abstracts/mixins" as *;

.header {
  background-color: $dark-100;
  padding: 2rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  &__nav {
    @include flex-between(0);
    padding-inline: 1.5rem;
    &-logo {
      @include flex-center(2.625rem);
    }
    &-btn,
    &-cart {
      @include button-reset;
    }

    &-links {
      display: none;
    }
  }
}
